body
	font-size: 16px
	color: #fff
	background: #e43a15
	background: -webkit-linear-gradient(to right, #e65245, #e43a15)
	background: linear-gradient(to right, #e65245, #e43a15)

.App

.centered
	text-align: center