.home {
  height: 100vh;
  background: #ddd;
  background: #e43a15;
  background: -webkit-linear-gradient(to right, #e65245, #e43a15);
  background: linear-gradient(to right, #e65245, #e43a15); }

.navigation {
  position: fixed;
  left: 0px;
  right: 0px; }
