@import "../0-vars/layout.sass"

.main-content
	margin-top: $navigation-height
	margin-top: 0px
	min-height: calc(100vh - 60px)

.content
	max-width: 1000px
	margin: 0 auto
	padding: 50px
	&__main-cta
		padding: 10px 30px
		border-radius: 3px
		background: #EF6C00
		border: 1px solid rgba(0,0,0,0.2)
		display: inline-block
		box-shadow: 0px 2px 5px rgba(0,0,0,0.2)
		font-size: 18px
	section
		margin-bottom: 40px
		&:last-child
			margin-bottom: 0px
		h2
			font-size: 30px
			margin-bottom: 15px
			color: #212121
	&__read-more-cta
		padding: 25px
		border-radius: 3px
		background: #E1F5FE
		border: 1px solid #81D4FA
		font-size: 18px
		&__button
			background: #424242
			border-radius: 3px
			padding: 10px 25px
			color: #fff
			display: inline-block
			margin-top: 15px


.page-header
	padding: 30px
	padding-top: $navigation-height + 60px
	padding-bottom: 90px
	background: #1565C0
	background: -webkit-linear-gradient(to right, #0D47A1, #00796B)
	background: linear-gradient(to right, #0D47A1, #00796B)
	color: #fff
	position: relative
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3)
	&__content
		max-width: 800px
		margin: 0 auto
		position: relative
		display: block
		&__cta-container
			margin-top: 25px
	h1
		font-size: 48px
		text-shadow: 0px 2px 5px rgba(0,0,0,0.1)
		margin-bottom: 15px
	h2
		font-weight: 500
		margin-bottom: 0px
		font-size: 20px


.home
	height: calc(100vh)
	background: #1565C0
	background: -webkit-linear-gradient(to right, #0D47A1, #00796B)
	background: linear-gradient(to right, #0D47A1, #00796B)
	&__content
		position: relative
		top: 45%
		transform: translateY(-40%)
		max-width: 1000px
		margin: 0 auto
		padding: 20px
		color: #fff
		&__header
			font-size: 60px
			margin: 0px
			color: #fff
			text-shadow: 0px 2px 5px rgba(0,0,0,0.2)
			font-weight: 700
			margin-bottom: 30px
			letter-spacing: -1px
		&__sub-header
			font-size: 28px
			margin: 0
			color: #fff
			text-shadow: 0px 1px 2px rgba(0,0,0,0.1)
			margin-bottom: 30px
		&__img
			display: inline-block
			width: 200px
			height: 200px
			border-radius: 50%
			box-shadow: rgba(58,78,96,0.2) 0 12px 42px, 0px 2px 5px rgba(0,0,0,0.2)
			background: #fff
.home-section
	&__content
		margin: 0 auto
		max-width: 1000px
		padding: 100px 50px
		&__header
			font-size: 36px
			margin-bottom: 20px;
		p
			font-size: 24px
			font-weight: 300
.about
	color: #fff
	background: #EB3349
	background: -webkit-linear-gradient(to right, #F45C43, #EB3349)
	background: linear-gradient(to right, #F45C43, #EB3349)

.navigation
	height: $navigation-height
	position: fixed
	left: 0px
	right: 0px
	top: 0px
	background: rgba(255,255,255,0)
	z-index: 99
	color: #fff
	transition: 0.5s
	&.white
		background: rgba(255,255,255,0.98)
		color: #616161
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
		border-bottom: 1px solid rgba(0,0,0,0.1)
		.navigation__link--button
			background: #1565C0
		span.title
			color: #424242
	&__left, &__right
		display: inline-block
	&__left
		padding: 10px
	&__right
		float: right
	&__link
		line-height: 20px
		padding: ($navigation-height - 20px * 2) 20px
		display: inline-block
		text-decoration: none
		&--button
			line-height: 20px
			padding: (($navigation-height - 20px * 2) - 12px) 20px
			margin: 12px
			display: inline-block
			text-decoration: none
			border-radius: 20px
			background: #1684B8
			background: rgba(0,0,0,0)
			color: #fff
			font-weight: 600
			font-size: 18px
			transition: 0.2s
			background: rgba(255,255,255,0.2)
			text-shadow: 0px 1px 3px rgba(0,0,0,0.1)
			box-shadow: 0px 1px 3px rgba(0,0,0,0.2)
			letter-spacing: -0.5px
			&:hover
				background: rgba(255,255,255,0.2)
				text-shadow: 0px 1px 3px rgba(0,0,0,0.1)
				box-shadow: 0px 1px 3px rgba(0,0,0,0.2)
		&--logo
			display: inline-block
			img, span
				display: inline-block
				vertical-align: middle
			span.title
				font-size: 22px
				font-weight: 700
				margin-left: 10px
				letter-spacing: -0.5px
			img
				width: 40px
.footer
  background: #424242
  color: #fff
  position: relative
  &__content
      display: block
      max-width: 1000px
      width: 100%
      padding: 50px 30px
      line-height: 30px
      position: relative
      margin: 0 auto
      font-size: 18px
      img
      	display: inline-block
      	height: 30px
      	vertical-align: middle
.resume-entry
	display: flex
	&__image
		padding: 15px
		display: inline-block
		width: 170px
		text-align: center
		img
			max-width: 100%
			border-radius: 2px
	&__data
		padding: 15px
		width: 100%
		&__dates
			font-weight: 700
		&__dates-description
			font-weight: 500
			color: #616161
		&__company
			font-weight: 700
			font-size: 20px
			color: #212121
		&__company-link
			font-weight: 500
			color: #0277BD

	.card__summary
	ul
		padding-left: 30px
		color: #616161
		li
			margin-left: 20px
			margin-bottom: 3px

@media(max-width: 900px)
	.page-header
		margin-bottom: 20px
		padding-top: 90px
		padding-bottom: 60px
	.content 
		padding: 20px
		section
			h2
				font-size: 24px
	.home__content__img
		width: 150px
		height: 150px
	.page-header__content
		h1
			font-size: 36px
		h2
			font-size: 20px
	.navigation__link
		&--button
			font-size: 16px
			margin-left: 5px
			margin-right: 5px
			padding-left: 12px
			padding-right: 12px
		&--logo
			span.title
				font-size: 18px
@media(max-width: 600px)
	.navigation__link
		&--logo
			padding: 8px 0px
			img
				display: none
			span.title
				margin-left: 0px