@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
.heart-beat {
  animation: beat 1s infinite alternate; }

@keyframes beat {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

.rotate {
  animation: rotate 1s infinite alternate; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

.switch-wrapper {
  position: relative; }

body {
  font-size: 16px;
  color: #424242;
  background: #fff;
  font-family: 'Nunito', sans-serif; }

h1, h2, h3, h4, h5, h6, h7, p, div, span, ul, li {
  margin: 0;
  box-sizing: border-box;
  padding: 0px; }

.centered {
  text-align: center; }

a {
  color: inherit;
  text-decoration: none; }

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin-bottom: 15px; }
  .card:last-child {
    margin-bottom: 0px; }
  .card__header {
    display: flex; }
  .card__title {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    flex: 1; }
  .card__upper-right {
    display: block;
    flex: 1;
    text-align: right; }
  .card__summary {
    font-weight: 600;
    color: #424242;
    margin-bottom: 5px; }
  .card__description {
    color: #616161; }

.button {
  display: inline-block; }
  .button__grey {
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    color: #424242;
    text-decoration: none;
    background-color: #f9f9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #eeeeee);
    background-image: linear-gradient(top, #f9f9f9, #eeeeee);
    border: 1px solid #ccc;
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s; }
    .button__grey:hover {
      box-shadow: 0px 2px 4px #e0e0e0;
      border: 1px solid #bdbdbd; }

.main-content {
  margin-top: 60px;
  margin-top: 0px;
  min-height: calc(100vh - 60px); }

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px; }
  .content__main-cta {
    padding: 10px 30px;
    border-radius: 3px;
    background: #EF6C00;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px; }
  .content section {
    margin-bottom: 40px; }
    .content section:last-child {
      margin-bottom: 0px; }
    .content section h2 {
      font-size: 30px;
      margin-bottom: 15px;
      color: #212121; }
  .content__read-more-cta {
    padding: 25px;
    border-radius: 3px;
    background: #E1F5FE;
    border: 1px solid #81D4FA;
    font-size: 18px; }
    .content__read-more-cta__button {
      background: #E65100;
      border-radius: 3px;
      padding: 10px 25px;
      color: #fff;
      display: inline-block;
      margin-top: 15px; }

.page-header {
  padding: 30px;
  padding-top: 120px;
  padding-bottom: 90px;
  background: #1565C0;
  background: -webkit-linear-gradient(to right, #0D47A1, #00796B);
  background: linear-gradient(to right, #0D47A1, #00796B);
  color: #fff;
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }
  .page-header__content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    display: block; }
    .page-header__content__cta-container {
      margin-top: 25px; }
  .page-header h1 {
    font-size: 48px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; }
  .page-header h2 {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 20px; }

.home {
  height: calc(100vh);
  background: #1565C0;
  background: -webkit-linear-gradient(to right, #0D47A1, #00796B);
  background: linear-gradient(to right, #0D47A1, #00796B); }
  .home__content {
    position: relative;
    top: 45%;
    transform: translateY(-40%);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: #fff; }
    .home__content__header {
      font-size: 60px;
      margin: 0px;
      color: #fff;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      font-weight: 700;
      margin-bottom: 30px;
      letter-spacing: -1px; }
    .home__content__sub-header {
      font-size: 28px;
      margin: 0;
      color: #fff;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px; }
    .home__content__img {
      display: inline-block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: rgba(58, 78, 96, 0.2) 0 12px 42px, 0px 2px 5px rgba(0, 0, 0, 0.2);
      background: #fff; }
    .home__content__social {
      font-size: 18px;
      margin-top: 15px; }
      .home__content__social a {
        padding: 10px;
        display: inline-block; }

.home-section__content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 100px 50px; }
  .home-section__content__header {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #212121; }
    .home-section__content__header--secondary {
      margin-bottom: 30px;
      color: #757575;
      font-size: 20px; }
  .home-section__content p {
    font-size: 24px;
    font-weight: 300; }
  .home-section__content section {
    margin-bottom: 40px; }
    .home-section__content section:last-child {
      margin-bottom: 0px; }
    .home-section__content section header {
      font-size: 30px;
      margin-bottom: 15px;
      font-weight: 700; }

.red-background {
  color: #fff;
  background: #EB3349;
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
  background: linear-gradient(to right, #F45C43, #EB3349); }
  .red-background .home-section__content__header {
    color: #fff; }
    .red-background .home-section__content__header--secondary {
      color: #fff; }

.navigation {
  height: 60px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0);
  z-index: 99;
  color: #fff;
  transition: 0.5s; }
  .navigation.white {
    background: rgba(255, 255, 255, 0.98);
    color: #616161;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .navigation.white .navigation__link--button {
      background: #1565C0; }
    .navigation.white span.title {
      color: #424242; }
  .navigation__left, .navigation__right {
    display: inline-block; }
  .navigation__left {
    padding: 10px; }
  .navigation__right {
    float: right; }
  .navigation__link {
    line-height: 20px;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none; }
    .navigation__link--button {
      line-height: 20px;
      padding: 8px 20px;
      margin: 12px;
      display: inline-block;
      text-decoration: none;
      border-radius: 20px;
      background: #1684B8;
      background: rgba(0, 0, 0, 0);
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      transition: 0.2s;
      background: rgba(255, 255, 255, 0.2);
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      letter-spacing: -0.5px; }
      .navigation__link--button:hover {
        background: rgba(255, 255, 255, 0.2);
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); }
    .navigation__link--logo {
      display: inline-block; }
      .navigation__link--logo img, .navigation__link--logo span {
        display: inline-block;
        vertical-align: middle; }
      .navigation__link--logo span.title {
        font-size: 22px;
        font-weight: 700;
        margin-left: 10px;
        letter-spacing: -0.5px; }
      .navigation__link--logo img {
        width: 40px; }

.footer {
  background: #212121;
  color: #fff;
  position: relative; }
  .footer__content {
    display: block;
    max-width: 1000px;
    width: 100%;
    padding: 50px 30px;
    line-height: 30px;
    position: relative;
    margin: 0 auto;
    font-size: 18px; }
    .footer__content__copyright {
      margin-top: 50px; }
    .footer__content__link {
      display: inline-block;
      padding: 10px; }
  .footer img {
    display: inline-block;
    height: 30px;
    vertical-align: middle; }

.resume-entry {
  display: flex; }
  .resume-entry__image {
    padding: 15px;
    display: inline-block;
    width: 170px;
    text-align: center; }
    .resume-entry__image img {
      max-width: 100%;
      border-radius: 2px; }
  .resume-entry__data {
    padding: 15px;
    width: 100%;
    text-align: left; }
    .resume-entry__data__dates {
      font-weight: 700; }
    .resume-entry__data__dates-description {
      font-weight: 500;
      color: #616161; }
    .resume-entry__data__company {
      font-weight: 700;
      font-size: 20px;
      color: #212121; }
    .resume-entry__data__company-link {
      font-weight: 500;
      color: #0277BD; }
  .resume-entry ul {
    padding-left: 30px;
    color: #616161; }
    .resume-entry ul li {
      margin-left: 20px;
      margin-bottom: 3px; }

.skill-container {
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 10px; }
  .skill-container__content {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    position: relative; }
    .skill-container__content__img-container {
      height: 120px;
      padding: 10px; }
      .skill-container__content__img-container img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 2px; }
    .skill-container__content__title {
      font-weight: 700;
      font-size: 18px;
      color: #212121;
      margin-top: 15px;
      display: inline-block; }
      .skill-container__content__title.small {
        letter-spacing: -0.5px;
        font-size: 16px; }

.skill-container:hover .skill-container__content, .skill-container.hover .skill-container__content {
  transform: rotateY(180deg); }

.front, .back {
  width: 100%;
  height: 100%; }

/* flip speed goes here */
.skill-container__content {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg); }

@media (max-width: 900px) {
  .page-header {
    margin-bottom: 20px;
    padding-top: 90px;
    padding-bottom: 60px; }
  .content {
    padding: 20px; }
    .content section h2 {
      font-size: 24px; }
  .home__content__img {
    width: 150px;
    height: 150px; }
  .page-header__content h1 {
    font-size: 36px; }
  .page-header__content h2 {
    font-size: 20px; }
  .navigation__link--button {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px; }
  .navigation__link--logo span.title {
    font-size: 18px; } }

@media (max-width: 600px) {
  .navigation__link--logo {
    padding: 8px 0px; }
    .navigation__link--logo img {
      display: none; }
    .navigation__link--logo span.title {
      margin-left: 0px; } }
